body {
    background-image: url(./img/4.jpg);
}

h4 {
    color: white;
}

.nom
{
    color : yellow;
}
.prof
{
    color: rgb(219, 42, 42);
}
#img 
{
    border-radius: 50%;
}
#font1
{
    font-style: italic;
}

.txt
{
    color: yellowgreen;
    font-family: cursive;
}
.txt2
{
    color: rgb(88, 220, 230);
    font-family: Helvetica;
    text-align: center;
}